
.maintext {
   position: fixed;
   z-index: 2;
   top: 2%;
   left: 2%;
   max-width: 60%;
   min-width: 300px;
   font-size: 1.6em;
   color: #020202;
}

.grid {
   position: fixed;
   z-index: 1;
   width: 300px;
   height: 300px;
   width: 100%;
   height: 100%;
}

.grid > div  {
   box-sizing: border-box;
   position: relative;
   float: left;
   width: 33.3333%;
   height : 33.3333%;
   border: 2px solid black;
   text-align: center;
   font-size: 13vmax;
   line-height: 12vmax;
   background-color: #eee;
}
